/* Write your CSS here! */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(129, 183, 210);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(204, 212, 212);
	padding: 20px;

}
.image, .Contact, .Skills, .Education, .Hobbies, .title, 
.Summary, .Experience, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
/* #para1 {
	display: block;
  }
  p {
	text-align: center;
	color: red;
  }
  .Summary {
	text-align: center;
	color: red;
  } */
  #para1 {
	display: block;
  }
  p {
	display: block;
  }
  .Summary {
	display: block;
  }
  .funParagraph {
	color: green;
  }
  #mainHeading {
	color: red;
  }


